In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

In [6]:
comps=pd.read_table('svm/mydata.txt')
comps

    age  income  student  credit_rating  buys_computer
0     1       3        2              1              2
1     1       3        2              2              2
2     2       3        2              1              1
3     3       2        2              1              1
4     3       1        1              1              1
5     3       1        1              2              2
6     2       1        1              2              1
7     1       2        2              1              2
8     1       1        1              1              1
9     3       2        1              1              1
10    1       2        1              2              1
11    2       2        2              2              1
12    2       3        1              1              1
13    3       2        2              2              2

In [16]:
X=comps[['age','income','student','credit_rating']]
y=comps['buys_computer']
print(X)
print('\n')
print(y)
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)
print(X_train)
print('\n')
print(y_train)
print('\n')
print(X_test)
print('\n')
print(y_test)

    age  income  student  credit_rating
0     1       3        2              1
1     1       3        2              2
2     2       3        2              1
3     3       2        2              1
4     3       1        1              1
5     3       1        1              2
6     2       1        1              2
7     1       2        2              1
8     1       1        1              1
9     3       2        1              1
10    1       2        1              2
11    2       2        2              2
12    2       3        1              1
13    3       2        2              2


0     2
1     2
2     1
3     1
4     1
5     2
6     1
7     2
8     1
9     1
10    1
11    1
12    1
13    2
Name: buys_computer, dtype: int64
    age  income  student  credit_rating
10    1       2        1              2
4     3       1        1              1
1     1       3        2              2
12    2       3        1              1
0     1       3        2              1
13    3       2        2              2
9     3       2        1              1
8     1       1        1              1
11    2       2        2              2
5     3       1        1              2


10    1
4     1
1     2
12    1
0     2
13    2
9     1
8     1
11    1
5     2
Name: buys_computer, dtype: int64


   age  income  student  credit_rating
3    3       2        2              1
7    1       2        2              1
6    2       1        1              2
2    2       3        2              1


3    1
7    2
6    1
2    1
Name: buys_computer, dtype: int64

In [32]:
model=svm.SVC(kernel='linear',C=1,gamma=1)

In [33]:
model.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [34]:
model.score(X_test,y_test)

0.5

In [35]:
predicted=model.predict(X_test)

In [36]:
predicted

array([2, 2, 1, 2], dtype=int64)

In [37]:
model=svm.SVC(kernel='poly',C=1,gamma=1)

In [38]:
model.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [39]:
model.score(X_test,y_test)

0.5

In [40]:
predicted=model.predict(X_test)

In [41]:
predicted

array([1, 1, 1, 2], dtype=int64)

In [42]:
model=svm.SVC(kernel='rbf',C=1,gamma=1)

In [43]:
model.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [44]:
model.score(X_test,y_test)

0.75

In [45]:
predicted=model.predict(X_test)

In [46]:
predicted

array([1, 1, 1, 1], dtype=int64)